body {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    background-color: #2c3e50;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

#board {
    background-color: #70c5ce;
    background-image: linear-gradient(#70c5ce, #ffffff);
    border: 4px solid #fff;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.5);
    /* Để xử lý tọa độ chuột chính xác trên canvas */
    display: block; 
}